* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.page1,
.page2 {
  width: 100%;
  height: 100%;
}

nav {
  padding: 0 80px;
  z-index: 1000;
  background-color: white(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

/* .star{
  rotate: -45deg;
} */

.options button {
  padding: 10px 40px;
}

.footer {
  padding: 0 60px;
}

.center {
  padding: 50px 60px;
}

.center .left {
  padding-left: 4%;
}

.center .top {
  margin-bottom: 40px;
}

.center .middle {
  margin-bottom: 30px;
}

.bottom button {
  padding: 10px 40px;
  background-color: black;
  color: white;
}

button,
nav h4,
.services .odd .left p,
.services .even .left p {
  cursor: pointer;
}

.one {
  margin-left: 50px;
}

.fa-arrow-right {
  transform: rotate(-45deg);
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  justify-content: center;
}

.service-desc {
  margin: 40px 100px 30px 100px;
}

.service-desc h2 {
  padding: 5px 10px;
  margin-right: 30px;
}

.service-desc p {
  font-size: 16px;
}

.services {
  padding: 40px 100px;
}

.services .odd {
  /* background-color: orange; */
  padding: 35px 40px;
  width: 46%;
  height: 55%;
  border-radius: 60px;
  border: 3px black solid;
  box-shadow: 0 10px 0 black;
  display: flex;
  justify-items: space-between;
}

.services .odd .left,
.services .even .left {
  padding: 15px 0;
}

.services .odd .left h3,
.services .even .left h3 {
  line-height: 1.4;
  padding: 4px 10px;
  border-radius: 20px;
}

.services .even .left h3 {
  background-color: white;
  color: black;
}

.services .odd .left h3 {
  background-color: #bcd85f;
  color: black;
}

.services .odd .left p i,
.services .even .left p i {
  margin-right: 10px;
}

.services .even .left p i {
  background-color: white;
  color: black;
}

.services .even {
  background-color: #1c1c1c;
  color: white;
  padding: 35px 40px;
  width: 46%;
  height: 55%;
  border-radius: 60px;
  border: 3px black solid;
  box-shadow: 0 10px 0 black;
  display: flex;
  justify-items: space-between;
}

@media (max-width: 431px) {
  nav {
    opacity: 0;
  }

  .center {
    padding-top: 10px;
    padding-left: 0px;
    flex-direction: column;
  }

  .center .right-t img {
    display: none;
  }

  .top {
    font-size: 40px;
    padding-left: 16px;
    width: 78%;
  }

  .middle {
    display: flex;
    width: 100%;
    gap: 10%;
  }

  .middle div {
    width: 43%;
    text-align: justify;
  }

  .footer {
    padding: 0 60px;
    height: 10%;
  }

  .footer img {
    width: 20%;
    height: 20%;
  }

  .footer .one {
    margin: 0;
  }

  .footer .length {
    height: 30%;
  }

  .page2 {
    padding-top: 30px;
  }

  .page2 .service-desc {
    margin: 0 0 20px 0;
    padding: 0 20px;
    justify-content: center;
  }

  .page2 .services {
    padding: 0 10px;
  }

  .page2 .services div {
    width: 100%;
    padding: 10px 20px;
  }

  .page2 .services div .learn {
    margin-top: 10px;
  }

  .page2 .services .service1 .right {
    width: 100%;
    padding: 0;
  }

  .page2 .services .service2 .right img {
    display: block;
  }

  .page2 .services .service3 {
    background-color: white;
  }

  .page2 .services .service4 {
    background-color: #1c1c1c;
  }

  .services .service3 .left h3 {
    background-color: #bcd85f;
    color: black;
  }

  .services .service3 .left p {
    color: black;
  }

  .services .service3 .left p i {
    background-color: black;
    color: white;
  }

  .services .service4 .left h3 {
    background-color: white;
    color: black;
  }

  .services .service4 .left p {
    color: white;
  }

  .services .service4 .left p i {
    background-color: white;
    color: black;
  }

  .nav2 {
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: white(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}
